@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lavender;
}

.registration-form {
    margin: auto;
    max-height: 600px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.registration-form h1 {
    font-size: 26px;
}

.registration-form-fields {
}
.registration-form-name {
}
.registration-form-pass {
}
.registration-form-email {
}